{% comment %}

	This is your /cart template.

{% endcomment %}

{% render 'breadcrumb' %}

<div class="single-product-wrap section-space--pt_60 border-bottom">
	<div class="content-area container">
		{% if cart.item_count > 0 %}
			<form action="/cart" method="post" novalidate class="cart">
				<div class="single-product">
					<div class="row">
						<div class="col-md-8 col-sm-12">
							<table class="shop_table cart " cellspacing="0">
								<thead>
									<tr>
										<th class="product-remove">&nbsp;</th>
										<th class="product-name">Product</th>
										<th class="product-price">{{ 'cart.label.price' | t }}</th>
										<th class="product-quantity">{{ 'cart.label.quantity' | t }}</th>
										<th class="product-subtotal">{{ 'cart.label.total' | t }}</th>
									</tr>
								</thead>
								<tbody>
								{% for item in cart.items %}
									<tr class="cart_item">
										<td class="product-remove">
											<a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove remove">×</a>
										</td>
										<td class="product-name">
											<a href="{{ item.url }}">
												<img width="100" height="100" src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
											</a>
											<a href="{{ item.url }}">{{ item.title | escape }}</a>	
										</td>

										<td class="product-price">
											<span class="amount">{{ item.price | money }}</span>							
										</td>

										<td class="product-quantity">
											<div class="quickview-action-wrap">
												<div class="quickview-quality">
													<div class="cart-plus-minus">
		                                                <input type="text" id="updates_{{ item.id }}"
		                                                	name="updates[]" value="{{ item.quantity }}"
		                                                	class="cart-plus-minus-box" min="0">
		                                            </div>
	                                            </div>
                                            </div>
										</td>

										<td class="product-subtotal">
											<span class="amount">
												{% if item.original_line_price != item.line_price %}
	                   								{{ item.original_line_price | money }}
								                {% endif %}
								                {{ item.line_price | money }}
											</span>							
										</td>
									</tr>	
								{% endfor %}		
								</tbody>
							</table>
						</div>
						<div class="col-md-4 col-sm-12">
							<div class="reviews-box">
								<div class="cart_totals ">
									<h2 class="title-cart">Cart Totals</h2>

									<table class="no-border shop_table subtotal" cellspacing="0">
										<tbody>
											<tr class="cart-subtotal">
												<th>{{ 'cart.general.subtotal' | t }}</th>
												<td>
													<span class="amount">{{ cart.total_price | money }}</span>
													{% if cart.total_discounts > 0 %}
														{% assign savings = cart.total_discounts | money %}
														<small class="cart-subtotal__savings">{{ 'cart.general.savings_html' | t: price: savings }}</small>
													{% endif %}
												</td>
											</tr>
											<tr>
												<td colspan="2">
													{% if settings.cart_notes_enable %}
														{% assign noteSize = cart.note | size %}
														<div class="grid__item large--five-twelfths">
															<div class="form-group cart__note{% if noteSize > 0 %} is-active{% endif %}">
																<label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
																<textarea name="note" class="form-control input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
															</div>
														</div>
													{% endif %}
												</td>
											</tr>
											<tr>
												<td colspan="2"><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></td>
											</tr>
										</tbody>
									</table>		
									<div class="proceed-to-checkout mt-10">
										<input type="submit" name="update" class="btn btn--full btn--border_1" value="{{ 'cart.general.update' | t }}">
									</div>
									<div class="button-box mt-25">
	          							<input type="submit" name="checkout" class="btn btn--full btn--black" value="{{ 'cart.general.checkout' | t }}">
	          						</div>
									
									{% if additional_checkout_buttons %}
							        	<div class="cart__additional_checkout">{{ content_for_additional_checkout_buttons }}</div>
							        {% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		{% else %}
			{% comment %}
		    
		    The cart is empty
			
			{% endcomment %}
			
			<div class="cart-empty">
				<p>{{ 'cart.general.empty' | t }}</p>
				<p>{{ 'cart.general.continue_browsing_html' | t }}</p>
			</div>
		{% endif %}
	</div>
</div>